version: '3.8'

services:
  db:
    image: postgres:13-alpine
    container_name: fastapi_db
    ports:
      - 5432:5432
    volumes:
      - ./dump-sample.sql:/docker-entrypoint-initdb.d/dump-sample.sql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=q7963q
      - POSTGRES_DB=fastapiDB
    networks:
      - lab-network
  prometheus:
    image: prom/prometheus
    container_name: fastapi_prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - lab-network
  fastapi:
    build: ./fastapi_crud
    image: fastapi_crud
    container_name: fastapi_crud
    ports:
      - 5000:5000
    depends_on:
      - db
    volumes: 
      - ./fastapi_crud:/app
    networks:
      - lab-network
  frontend:
    build: ./frontend-react-produtos
    image: frontend_crud
    container_name: frontend_crud
    ports:
      - "3000:80"
    depends_on:
      - fastapi
    restart: unless-stopped
    #volumes: 
    #  - ./frontend-react-produtos:/src
    networks:
      - lab-network

volumes:
  postgres_data:

networks: 
  lab-network:
    driver: bridge
